{% extends "layout.html" %}

{% block body %}
    <center><h1 style="font-family:'Verdana'">About The Champion Project</h1></center><br><br>
      <h6 style="font-family:'Verdana'">The Champion Project will act as a vehicle to eliminate the gap between the nation’s brightest minorities and leading colleges and universities by equipping them with the foundational information they need to be admitted and thrive at top-tier institutions. </h6>
      <h6 style="font-family:'Verdana'">Our goal is to expose minorities from Indiana to top-tier institutions so they won’t limit their potential and witness at least 80% of our Champion Scholars matriculate onto an elite institution’s campus. </h6>
{% endblock %}
