{% extends "layout.html" %}

{% block body %}
    <center><h1 style="font-family:'Verdana'">Application</h1></center><br><br>
    <h5 style="font-family:'Verdana'">A TOUR MEANT FOR A CHAMPION!</h5>
    <h6 style="font-family:'Verdana'">Please enroll today for Elite College tour happening this Spring! We’ll be visiting Harvard University, Yale University, Brown University, MIT, Boston College & much more! You definitely don’t want to miss it! (Have an apply now button that leads to the application)</h6>
{% endblock %}
