{% extends "layout.html" %}

{% block body %}
    <center><h1 style="font-family:'Verdana'">Gallery</h1></center>
    <center><img src="static/jump.jpg" alt="The Champion Project Board of Members" width="600"/></center>
    <center><img src="static/chinmich.jpg" alt="Chinemere and Michelle" width="600"/></center>
    <center><img src="static/shirt.jpg" alt="The Champion Project Shirt" width="600"/></center>
    <center><img src="static/harvard.jpg" alt="John Harvard Statue" width="600"/></center>
{% endblock %}
